@model OkReads.Models.ApplicationUser

@{
    ViewBag.Title = "Library";
}

<h2>Library</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Isbn
        </th>
        <th>
            Score
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Library)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td>
                @Html.ActionLink("Remove from library", "RemoveFromLibrary", new { controller="Books", id = item.LibraryEntryId })
            </td>
        </tr>
    }

</table>