<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OkReads</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            @Html.ActionLink("OkReads", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (Request.IsAuthenticated)
        {
            <div class="row" id="recommended">
                <div class="col-md-4">
                    <p>You might be interested in:</p>
                </div>
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OkReads</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (Request.IsAuthenticated)
    {
        <script>
            $(document).ready(function() {
                $.ajax({
                    url: '@Url.Action("GetRecommendations", "Users", new { userName = User.Identity.Name } )',
                    type: 'GET',
                    error: function (response) {
                        console.log(response);
                    },
                    success: function (response) {
                        for (let i of jQuery.parseJSON(response['covers'])) {
                            //TODO: Add link to book
                            $("#recommended").append(`<div class="col"><img style="max-height: 150px" class="img-fluid" src="${i.CoverPath}" /></div>`);
                        }
                    }
                });
            });
        </script>
    }
</body>
</html>
