@model OkReads.Models.Book

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="#" /> @* Set src to Model.CoverPath*@
        </div>
        <div class="col-md-8">
            <h2>@Model.Title</h2>
            <h3>@String.Join(" ", Model.Authors)</h3>
            @if (Request.IsAuthenticated)
            {
                <form id="addToLibraryForm" action='@Url.Action("AddToLibrary", "Books")' method="POST">
                    <input type="hidden" name="userId" value="@ViewBag.User.Id" />
                    <input type="hidden" name="bookId" value="@Model.BookId" />
                    <input type="radio" id="radioToRead" name="value" value="To read" checked='@ViewBag.BookStatus["toRead"]' />
                    <label>To Read</label>
                    <input type="radio" id="radioReading" name="value" value="Reading" checked='@ViewBag.BookStatus["reading"]' />
                    <label>Reading</label>
                    <input type="radio" id="radioRead" name="value" value="Read" checked='@ViewBag.BookStatus["read"]' />
                    <label>Read</label>
                </form>
            }

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Isbn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Isbn)
                </dd>

                <dt>
                    Genre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Score)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Score)
                </dd>
            </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>

@section scripts {
<script>
    $('#addToLibraryForm > input[type="radio"]:not(:checked)').click(() => {
        $("#addToLibraryForm").submit();
    });
</script>
}